body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: rgba(117, 117, 117, 1);
}

.button1:hover,
.button1:focus {
  background: #2f303a;
}

.mail:hover,
.mail-down:hover,
.mail-down:focus,
.tel:hover,
.tel:focus {
  color: red;
}
.mail-page1 {
  color: #2196f3;
}
.studio {
  color: #2196f3;
  cursor: pointer;
  font-weight: 500;
}
.color-black {
  color: #212121;
}
.tel,
.mail-down {
  color: #757575;
}

body > .webstudio {
  font-family: "Raleway", sans-serif;
}

h2 {
  color: #212121;
  font-weight: 700;
}
h3 {
  font-size: 26px;
  font-weight: 700;
}
h5 {
  font-size: 14px;
}
h4 {
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  font-weight: 400;
}
.name-black {
  color: #212121;
  font-weight: 500;
}
.line-high {
  line-height: 16px;
  color: #212121;
  font-weight: 700;
}

.line-low {
  line-height: 24px;
  color: #757575;
  font-weight: 400;
}
.webstudio {
  color: #2196f3;
  font-weight: 700;
}
.button1 {
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}
.button {
  background: #2f303a;
  font-weight: 700;
}
.button > h1 {
  color: #ffffff;
  cursor: pointer;
  font-weight: 900;
}
address {
  font-weight: 400;
}
h3 > .blue {
  color: #2196f3;
}
.black {
  color: rgba(0, 0, 0, 1);
}
.nav-black {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.color-blue {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.tel-page2 .mail-page2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.filter1:hover,
.filter2:hover,
.filter3:hover,
.filter4:hover,
.filter5:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
}
.filter1,
.filter2,
.filter3,
.filter4,
.filter5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
}
.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
